guia-card {

  .card-md {
    width: calc(100% - 10px);
    margin: 0 auto;
  }

  .card-title {
    font-size: 1.4rem;
    padding-bottom: 0;
    padding-top: 0;
  }

  .card-content {
    p {
      color: map-get($colors, secondary);
    }
  }

  .card-content-md {
    padding: 13px 12px;
  }
}
